
@{
    ViewBag.Title = "GetEmployer";
}


<table class="table table-bordered">
    <tr class="table-primary">
        <th>Employee ID</th>
        <th>Date of Joining</th>
        <th>Employee Name</th>
        <th>Employee Address</th>
        <th>Employee Salary</th>
        <th colspan="2">Options</th>
    </tr>
    @foreach (var item in ViewBag.Employees)
    {
<tr>
    <td>@item.EmployeeID</td>
    <td>@item.DateOfJoining</td>
    <td>@item.EmployeeName</td>
    <td>@item.Address</td>
    <td>@item.Salary</td>
    <td><button type="button" class="btn btn-primary">Edit</button></td>
    <td><button type="button" class="btn btn-danger">Delete</button></td>
</tr>
    }
</table>

